#MainBox {
	margin: -175px 0 0 -290px;
	width: 580px;
	height: 350px;
}

#MainTextBox{
	left: 33%;
}

input[type=text] {
	width: 420px;
	margin-left: -4px;
}

button{
	float: left;
}

#SignInNotSuccess{
	background-color: white;
	width: 450px;
	height: 40px;
	margin-top: 90px;
	margin-left: 62px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 3px;
}

button.RegisterButton{
	margin-left: 75px;
}

button.SignInButton{
	margin-left: 25px;
}