#MainBox {
	margin: -175px 0 0 -290px;
	width: 580px;
	height: 350px;
}

#MainTextBox{
	left: 33%;
}

#LoginUserName, #LoginPIN{
	width: 420px;
}

#LoginUserName{
	position: absolute;
	top: 80px;
}

#LoginPIN{
	position: relative;
	top: 110px;
}

#LoginButtons{
	position: relative;
	top: 140px;
}

#SignInNotSuccess{
	background-color: white;
	width: 450px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 3px;
	position: relative;
	left: 275px;
	top: 190px;
}

button.SignInButton{
	margin-left: 15%;
}